
# System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Flet/Flutter
build/
dist/
flet_build/
*.exe

# User Environment
.env
backup/
*.bat
!flet_rebuild.bat

# IDE
.vscode/
.idea/
