
# Misc
*.class
*.log
*.lock
*.ctxt

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
flutter_*.jpg

# Editor
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Sensitive
lib/core/services/spotify_service.dart

# Build Artifacts
/dist/
/installers/
*.exe
*.iss
*.msi
*.apk
*.aab
/windows/flutter/ephemeral/
/android/.gradle/
/android/app/build/
/build/
