
# System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Flet/Flutter
build/
dist/
flet_build/
*.exe
!beatboss.spec

# User Environment
.env
backup/
*.bat
!build_android.bat
!build_windows.bat
!build_linux_appimage.bat
!build_linux_deb.bat

# IDE
.vscode/
.idea/
