flet>=0.21.0
python-vlc
requests
urllib3
google-api-python-client
pynput
winrt-Windows-Media; sys_platform == 'win32'
winrt-Windows-Storage-Streams; sys_platform == 'win32'
winrt-Windows-Foundation; sys_platform == 'win32'
colorama
python-dotenv
flet[all]==0.80.1
